.services
  width: 1170px
  margin: 0 auto

  @media (max-width: 1023px)
    width: 100%

.services__tabs-list
  display: flex
  list-style: none
  padding: 0
  margin: 0

  @media (max-width: 1023px)
    display: none

.services__tab
  box-sizing: border-box
  width: 293px
  height: 93px
  display: flex
  align-items: center
  justify-content: center
  color: $light-black
  font-weight: 500
  cursor: pointer


  &--current
    background: $alt-white
    color: $main-black

.services__tab-text
  display: inline-block
  margin-left: 10px
  font-size: 18px

.services__container
  background: $alt-white
  padding: 60px 135px 55px 70px
  display: grid
  grid-template-columns: 1fr 1fr
  column-gap: 90px
  box-sizing: border-box
  height: 410px

  @media (max-width: 1023px)
    display: none

.services__info-text
  font-weight: 500
  color: $main-black
  font-size: 22px
  line-height: 140%
  margin: -7px 0 0 0

  @media (max-width: 1023px)
    font-size: 18px

.services__info-list
  padding: 0
  margin-top: 27px
  list-style: none
  font-size: 18px
  font-weight: normal
  @media (max-width: 1023px)
    font-size: 16px

.services__info-item
  padding-left: 21px
  position: relative
  max-width: 380px
  &:not(:last-of-type)
    margin-bottom: 17px

  &:before
    content: ""
    background-image: url("../img/check-icon.svg")
    background-repeat: no-repeat
    position: absolute
    top: 5px
    left: -2px
    width: 15px
    height: 10px

.services__info-btn
  display: flex
  justify-content: center
  align-items: center
  box-sizing: border-box
  color: $alt-white
  text-decoration: none
  background: $main-blue
  border-radius: 4px
  font-family: "Roboto", "Arial", sans-serif
  font-weight: 500
  font-size: 16px
  width: 198px
  height: 51px
  text-align: center
  margin-top: 35px

  @media (max-width: 1023px)
    margin-top: 29px


.services__text
  font-size: 18px
  font-weight: normal
  line-height: 140%
  display: block
  width: 350px
  margin: 30px 0 0 0

.services__info-text-link
  color: $main-black

.services__picture
  &--car
    margin: -5px 0 0 -13px
  &--lock
    margin: -10px 0 0 0
  &--phone
    margin: -10px 0 0 0

.services__slider
  display: none
  @media (max-width: 1023px)
    display: block
    width: 100%
    background: $alt-white
    .swiper-pagination
      padding-bottom: 0
    .swiper-pagination-bullet
      background-color: $main-blue
      opacity: 1
    .swiper-pagination-bullet-active
      background-color: #E0E0E0

.services__slide
  @media (max-width: 1023px)
    background: $alt-white
    display: grid
    grid-template-columns: auto auto
    box-sizing: border-box
    height: 380px
    padding: 64px 45px

.services__info
  margin-right: 38px
